@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

/* css reset  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* compnents */
.button {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 15px;
    border: none;
    border-radius: 70px;
}
.button-white {
    color: black;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.329);
}

/* end of components */


/* navbar */
nav.navbar {
    background-color: greenyellow;
    width: 1400px;
}
nav.navbar > div.container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
nav.navbar .title {
    display: flex;
}

nav.navbar .navigation a:not(:last-child) {
    margin-right: 25px;
    color: black;
    
}
nav.navbar .navigation a:not(.button):hover {
    border-bottom: 1px solid black;
}
/* end of navbar */

nav ul li a {
    color: #000000;
    font-size: 36px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a:hover{
    background: #4ef334;
    transition: .5s;
}

body{
    margin: 0;
    padding: 0;
    display: inline-block;
    justify-content: center;   
    background-color: #fdff70;
    align-items: center;
    font-family: Nunito;
}


.form{
    background-color: #44d42c;
    width:600px;
    height: 300px;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 3px solid #000000;
    margin-top: 80px;
    margin-left: 380px;
    font-size: 25px;
}
.email{
    margin-left: 10px;
    margin-right: 150px;
}
.imeil{
    margin-left: 10px;
}
.pass{
    margin-left: 10px;
    margin-right: 150px;
}
.passwrd{
    margin-left: 10px;
}
.submit{
    margin-left: 90px;
    margin-right: 100px;
    font-size: 20px;
}
.copyright{
    background-color: greenyellow;
    color: black;
    font-size: large;
    text-align: center;
    margin-top: 200px;
}